
.circular-layout {
    position: relative;
    width: 300px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin: 0 auto;
  }
  
  .image-container {
    position: absolute;
    top: 0%;
    left: 0%;
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  
  .image-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #8080804d;
  }
  
  .image-container-img {
    padding: 0px; /* Adjust padding as needed */
  }